<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!-- local resources -->
    <!-- stylesheets -->
    <!--
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="uikit.min.css">
    -->
    <!-- local resources -->
    <!--
    <script src="axios.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="jquery-3.4.1.slim.min.js"></script>
    <script src="vue.js"></script>
    <script src="uikit.min.js"></script>
    <script src="uikit-icons.min.js"></script>
    -->

    <!-- remote resources -->
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet"> 
    
    <!-- scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <style type="text/css">

      .prediction:hover {
        cursor: pointer;
      }

      .preview {
        width: 45%;
      }

      .prediction {
        width: 100%;
      }

      /** JACKSON THEME **/

      .jackson .uk-input {
        background: black;
        color: lightseagreen;
        font-family: monospace;
        font-variant-caps: small-caps;
        font-weight: bold;
      }

      .jackson input {
        border-radius:  0pt 20pt 0pt 20pt;
      }

      .jackson .prediction {
        text-align: center;
        font-weight: bold;
        font-family: monospace;
        border-radius:  0pt 20pt 0pt 20pt;
      }

      .jackson .uk-background-primary {
        background: brown;
        color: white;
      }

      /** TEA SKIN **/

      .teatime .uk-input {
        background: wheat;
        color: brown;
        font-family: 'Dancing Script', cursive;
        border-width: 0pt 0pt 3pt 0pt;
        border-style: dashed;
        border-color: gray;
      }

      .teatime .prediction {
        font-family: 'Dancing Script', cursive;
        color: teal;
      }

      .teatime .uk-background-primary {
        background-color: lightgray;
        color: teal;
      };

    </style>
</head>
<body>
    <main id="app" class="uk-search uk-search-default uk-align-center uk-width-normal">
      <div class="preview jackson uk-position-left uk-container">
        <h2 class="uk-header">Theme: Jackson</h2>
        <field for="searchTerm">Search for POI:</field>
        <input type="text"
          v-on:keyup="queryServer"
          v-on:keydown.down="moveDown"
          v-on:keydown.up="moveUp"
          v-on:keyup.enter="onClick()"
          class="uk-input searchTerm"
          id="searchTerm1"
          name="searchTerm" />
        <div class="prediction-selection predictions uk-container" id="predictions" v-for="prediction in this.predictions"
        v-on:keyup.enter="onClick">
          <!-- selectedPrediction && selectedPrediction.id==prediction.id -->
          <div class="prediction uk-description-list uk-description-list-divide"
              v-on:click="onClick"
              @mouseover="hoveredPrediction = prediction"
              v-bind:class="{
                'uk-background-primary': hoveredPrediction && prediction.id == hoveredPrediction.id,
                'uk-background-secondary': selectedPrediction && prediction.id == selectedPrediction.id
              }">
            <dt>{{ prediction.name }}</dt>
            <dd>{{ prediction.description }}</dd>
          </div>
        </div>
      </div>

      <hr class="uk-divider-vertical" />

      <div class="preview teatime uk-position-right uk-container">
        <h2 class="uk-header">Theme: Tea Time</h2>
        <field for="searchTerm">Search for POI:</field>
        <input type="text"
          v-on:keyup="queryServer"
          v-on:keydown.down="moveDown"
          v-on:keydown.up="moveUp"
          v-on:keyup.enter="onClick()"
          class="uk-input"
          name="searchTerm"
          id="searchTerm2" />
        <div class="prediction-selection predictions uk-container" v-for="prediction in this.predictions"
        v-on:keyup.enter="onClick">
          <!-- selectedPrediction && selectedPrediction.id==prediction.id -->
          <div class="prediction uk-description-list uk-description-list-divide uk-container"
              v-on:click="onClick"
              @mouseover="hoveredPrediction = prediction"
              v-bind:class="{
                'uk-background-primary': hoveredPrediction && prediction.id == hoveredPrediction.id,
                'uk-background-secondary': selectedPrediction && prediction.id == selectedPrediction.id
              }">
            <dt>{{ prediction.name }}</dt>
            <dd>{{ prediction.description }}</dd>
          </div>
        </div>
      </div>
    </main>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
              predictions: [],
              hoveredN: -1,
              selectedPrediction: null,
              hoveredPrediction: null,
              clearing: false,
              skin: null,
              lastSearch: 0,
            },
            mounted: () => {
              console.log(this);
            },
            methods: {
                clear: function () {
                  this.hoveredPrediction = null;
                  this.selectedPrediction = null;
                  this.hoveredPrediction = null;
                  this.hoveredN = -1;
                  this.predictions = [];
                  $(".predictions").hide();
                },
                /**
                 * Triggered on a mouse hover.
                 **/
                onHover(prediction) {
                  console.log("ON_HOVER");
                  this.hoveredPrediction = prediction;
                },
                /**
                 * Event that's triggered on prediction ENTER and mouse click.
                 * Essentially makes the hovered prediction the selected prediction
                 * and resets the input so the user can choose again!
                 * 
                 * @param prediciton prediction that was clicked on.
                 **/
                onClick(prediction) {
                  console.log("ONCLICK");
                  this.selectedPrediction = this.hoveredPrediction;
                  $("#searchTerm1").val(this.selectedPrediction.name);
                  $("#searchTerm2").val(this.selectedPrediction.name);
                  $(".searchTerm").focus();
                  this.clear();
                },
                /**
                 * chooseSelected is performed on a hover or arrow down
                 * event. Sets the hovered prediction,
                 **/
                chooseSelected: function() {
                  if (this.hoveredN < 0) {
                    this.hoveredN = -1;
                    this.hoveredPrediction = null;
                    return;
                  }else if (this.hoveredN >= this.predictions.length-1) {
                    this.hoveredN = this.predictions.length-1;
                  }
                  this.hoveredPrediction = this.predictions[this.hoveredN];
                  console.log(this.hoveredN);
                  console.log(`Selected ${this.hoveredN}: ${this.hoveredPrediction.name}`);
                },
                /**
                 * When the DOWN key is pressed.
                 * 
                 * @param event The key down event.
                 **/
                moveDown: function(event) {
                  console.log("Moving down.");
                  this.hoveredN += 1;
                  this.chooseSelected();
                },
                /**
                 * When the UP key is pressed.
                 * @param event the key up event.
                 **/
                moveUp: function(event) {
                  console.log("Moving up.");
                  this.hoveredN -= 1;
                  this.chooseSelected();
                },
                /**
                 * Query the server based on the value of the input box.
                 * This is triggered on every key up event.
                 * Note that this will ignore the 'ENTER' key.
                 * 
                 * @param event The key event.
                 **/
                queryServer: function(event) {
                  // Ignore for ENTER, UP, DOWN, LEFT, RIGHT.
                  if ([13, 37, 38, 39, 40].indexOf(event.which) >= 0 && this.predictions.length != 0) {
                    return;
                  }
                  console.log(`query server: ${JSON.stringify(event)}`);
                  $(".predictions").show();
                  const path = "/locations";
                  
                  let searchTerm1 = $('#searchTerm1').val();
                  let searchTerm2 = $('#searchTerm2').val();
                  let searchTerm = searchTerm1;
                  if (!searchTerm1.length) {
                    searchTerm = searchTerm2;
                  }

                  if ($(event.target).attr("id") == "searchTerm2") {
                    $("#searchTerm1").val($("#searchTerm2").val());
                  }
                  if ($(event.target).attr("id") == "searchTerm1") {
                    $("#searchTerm2").val($("#searchTerm1").val());
                  }

                  // search for the prediction.
                  let performSearch = async (searchTerm) => {
                    // If search is empty do nothing.
                    if (searchTerm.length == 0) {
                      return;
                    }
                    let now = (new Date).getTime();
                    // Wait 100 miliseconds
                    if ((now - this.lastSearch) < 100) {
                      return;
                    }
                    lastSearch = now;
                    const baseUrl = 'https://coding-challenge.echoandapex.com';
                    options = {
                      method: 'get',
                      baseUrl: baseUrl,
                      url: baseUrl + path,
                      params: {"q": searchTerm}
                    };
                    let resp = await axios.default(options)
                    console.log(resp);
                    return resp.data.predictions;
                  }
                  performSearch(searchTerm).catch(err => {
                    console.error(err);
                  }).then ( (predictions) => {
                    this.predictions = predictions;
                  });
                }
            }
        });
    </script>
  </body>
